.noHover{
    pointer-events: none;
}

.navbar {
    padding-top: 15px;
    background-color: #515a63 !important;
}

.nav-item:hover {
    color: blue;
}

.nav-item-flag:hover {
    background-color: #13aff0;
    border-radius: 10%;
}

body {
    background-color: rgb(245,241,228);
    font-family: 'Vollkorn', serif;
}

.card {
    background-color: rgb(238, 233, 218);
    font-family: 'Vollkorn', serif;
}

* {
    font-size: 14pt;
}

.social-item-linkdin {
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.05rem;
}

.social-item-linkdin:hover {
    background: #ec500f;
    border-radius: 100%;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.social-item-mail {
    margin-right: 0.125rem;
}

.social-item-mail:hover {
    background: #ec500f;
    border-radius: 10%;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.social-item-mail2 {
    margin-right: 0.125rem;
    margin-bottom: 0.4rem;
}

.social-item-mail2:hover {
    background: #ec500f;
    background-size: 50% 50%;
    border-radius: 5%;
    -webkit-filter: invert(1);
    filter: invert(1);
}

/*FOOTER*/
.site-footer {
    padding: 1rem 1.875rem;
    border-top: 0.0625rem solid #e9e9e9;
}

.row-middle {
    -webkit-box-align: center;
    align-items: center;
}

.site-footer-copyright {
    font-size: 14px;
    text-align: center;
}

.site-footer-links {
    align-items: center;
    text-align: center;
    margin-top: 0.75rem;
}

.social-item-github {
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.social-item-github:hover {
    background: #36aef3;
    border-radius: 100%;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.back-to-top {
    font-size: 14px;
    text-align: right;
    margin-top: 0.25rem;
}

.back-to-top a {
    color: black;
    text-decoration: black;
}

.back-to-top a:hover {
    color: blue;
}